.git
.github
.idea
.vscode

.DS_Store

build-*/
cmake-build-*/
**/build-*/
**/cmake-build-*/

.ccache
**/.ccache

__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.ruff_cache
**/.ruff_cache

*.log
compile_commands.json
